@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Cinzel:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }

    html {
        font-family: 'Nunito', 'Chocolate Classical Sans', system-ui, sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        min-height: 100vh;
        z-index: 0;
        background-color: #f5f5f5;
        color: #333;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    }

    img {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
        pointer-events: none;
    }
}

@layer utilities {
    .bg-cover {
        will-change: background-image;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        transform: translateZ(0);
    }
}
